[Desktop Entry]
Comment=Aurorae window decorations best to be used with the default breeze themes. Based on Mac OSX Yosemite/El Capitan/Sierra and the existing decoration Evolvere Light Pure Circle by Frank Souza.
Name=Breeze OSX
X-KDE-PluginInfo-Author=Marian Alexander Arlt
X-KDE-PluginInfo-Category=Aurorae theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=marianarlt@icloud.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=Breeze OSX
X-KDE-PluginInfo-Version=1.0
